html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
}

footer {
    background-color: burlywood;
    margin-top: 12px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

main {
    max-width: 800px;
    margin: auto;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

.main-page-book-review {
    background-color: white;
    border-width: 1px; border-style: solid; border-color: lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;

}

.book-cover {
    display: grid;
    grid-row-end: span 5;
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

